
/* contacto formulario */


.contacto{
    max-width: 600px;
    margin: 0 auto;
    & label, input, textarea{
        display: block;
        margin-bottom: 10px;
        margin-top: 10px  ;
    }
    & input[type="text"], input[type="email"], textarea{
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    & .ContenedorBtnContacto{
        display: flex;
        justify-content: center;

        & .btnContacto{
            display: block;  
            width: 40%;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: $mainColor;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        & .btnContacto:hover{
            background-color: #363836;
        }
    }
}
