@import url('https://fonts.cdnfonts.com/css/gotham');
@import 'vars';
@import 'contacto';
@import 'comentarios';

*{
    font-family: gotham;
}

/* Color menú hamburguesa */
nav{
    button{
        span{
            color: $mainColor;
        }   
    }
}

/* Span ppial */
.span1{
    color: $mainColor;
}

/* Video instalaciones 
section{
    #custom-video{
        height: 315px;
        width: 60%;
    }
}*/

/* redes */
.fab{
    color: gray;
    &:hover{
        color: $mainColor;
    }
}

/*contenedor tarjetas */
.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    gap: 20px;
     .tarjeta{
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        a{
            text-decoration: none;
            color: black;
            &:hover{
                color: white;
            }
        }
        button{
            margin-top: auto;
            padding: 10px;
            background-color: $mainColor;
            border: none;
            border-radius: 5px;
        }

    }
}

/* comentarios */

.titulo{
    text-align: center;
    margin: 10px;
    margin-top: 20px;
}

.contenedorComentarios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    gap: 20px;
    .tarjetaComentarios{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        & img{
            width: 80%;
            height: 80%;
        }
    }
}

/* media Video instalaciones */
@media (max-width: 767px){
    section{
        #custom-video{
            height: auto;
            width: auto;
        }
    }
}

/* contenedor tarjetas Media query para pantallas menores a 767px */
@media (max-width: 767px) {
    .contenedor {
      grid-template-columns: 1fr;
    }
  }

/* comentarios Media query para pantallas menores a 767px */
@media screen and (max-width: 767px) {
    .contenedorComentarios {
      grid-template-columns: 1fr;
    }
  }
  
  /* Formulario comentarios Media query para pantallas menores a 767px */
  @media (max-width: 767px) {
    form {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  